{% extends "base.html" %}
{% block content %}
<h1>Aliyah Tracker</h1>

<h2>People</h2>
<ul>
{% for p in people %}
    <li>{{ p.first_name }} {{ p.last_name or '' }}{% if p.tribe %} ({{ p.tribe }}){% endif %}</li>
{% endfor %}
</ul>

<h2>Aliyot</h2>
<ul>
{% for a in aliyot %}
    <li>{{ a.date }} - {{ a.parsha }}{% if a.yomtov %} ({{ a.yomtov }}){% endif %} - {{ a.service }} - {{ a.aliyah_number }}: {{ a.person.first_name }} {{ a.person.last_name or '' }} ({{ a.person.tribe }})</li>
{% endfor %}
</ul>
{% endblock %}
